@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1> Resultado Final </h1>
</div>

<h2>Hola @ViewBag.nombre de @ViewBag.edad años. </h2>
<h2>El plato final: @ViewBag.plato</h2>
<h2>Tiempo de preparación para los @ViewBag.cantidadComensales comensales es de: @ViewBag.tiempo minutos</h2>
<h2>Dificultad: @ViewBag.dificultad</h2>